<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="cn.trace.dao.goverment.GovermentMapper">
	<!-- get goverment -->
	<select id="getGoverment"  resultType="goverment"  parameterType="goverment">
		select * from government  where govuser = #{govuser} and govpassword =#{govpassword}
	</select>
</mapper>

